
  <mat-form-field dir="rtl">
    <input matInput placeholder="קוד בנק" [(ngModel)]="data.BankId">
  </mat-form-field>
  <br>
  
  <mat-form-field dir="rtl">
    <input matInput placeholder="סניף" [(ngModel)]="data.BranchName">
  </mat-form-field>
  <br>
  
  <mat-form-field dir="rtl">
    <input matInput placeholder="שם בעל חשבון" [(ngModel)]="data.AccountOwnerName">
  </mat-form-field>
  <br>
 
  <mat-form-field dir="rtl">
    <input matInput placeholder="מספר חשבון" [(ngModel)]="data.AccountNumber">
  </mat-form-field>
  <br>

  <mat-form-field dir="rtl">
    <input matInput placeholder="תאריך פדיון" [(ngModel)]="data.RepaymentDate">
  </mat-form-field>
  <br>

  <mat-form-field dir="rtl">
    <input matInput placeholder="הערות" [(ngModel)]="data.Comments">
  </mat-form-field>
 